###C###

# Object files
*.o
*.ko
*.obj
*.elf
*.lo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

### Rhost Specific ###

#bin files
Server/bin/dbconvert
Server/bin/mkhtml
Server/bin/mkindx
Server/bin/murboot
Server/bin/netrhost
Server/bin/netrhost.debugmon

# Sourcee
Server/src/Makefile*
#  Makefile.template is manually tracked. Ignore all others.
!Server/src/Makefile.template
Server/src/gdbm*
Server/src/intsize
Server/src/buildnum.data
Server/src/date.txt

# game folder
Server/game/kill_*
Server/game/netrhost.gamelog
Server/game/netrhost.pid
Server/game/netrhost.log
Server/game/netrhost.log.old
Server/game/oldlogs*

# game/data folder
Server/game/data

# game/txt folder
Server/game/txt/*.indx