###C###

# Object files
*.o
*.ko
*.obj
*.elf
*.lo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

### Rhost Specific ###

#bin files
bin/dbconvert
bin/mkhtml
bin/mkindx
bin/murboot
bin/netrhost
bin/netrhost.debugmon

# Source files
src/Makefile* #Makefile.template is manually tracked. Ignore all others.
